body
{
  background: green;
}
.iop
{
  width: 200px;
  height: 40px;
  background: white;
  margin-left: 700px;
  margin-top: 300px;
  border-radius: 10px;
}
.rty
{
  width: 600px;
  height: 1000px;
  margin-top: -400px;
  margin-left: -50px;
}
.hjl
{
  margin-left: 850px;
  margin-top: -700px;
}
.qwe
{
  margin-left: 700px;
 margin-top: -200px;
}